<phpunit colors="true">
  <testsuites>
    <testsuite name="Persister">
      <file>PersisterMySQLTest.php</file>
      <file>ApiLogTest.php</file>
      <file>PersisterMongoTest.php</file>
      <file>MongoDBTest.php</file>
      <file>PersisterRedisTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
